{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry"
      }
    ],
    "kensho",
    "@babel/react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "react-require"
  ],
}
